# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.venv/
env/
venv/

# Django
backend/*.sqlite3
backend/staticfiles/
backend/.env

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
